<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MobileOperatorAppServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="bg-light border-right">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Admin" asp-action="Index">Admins</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Tariff" asp-action="Index">Tariffs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Service" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Login" asp-action="Logout">
                                <button class="btn btn-primary" type="submit"><i class="bi bi-box-arrow-right"></i>Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
</body>
</html>
